
/**
 * UTILITIES > FILLS
 */

.u-fill--primary {
  background-color: $color-primary;
}

.u-fill--yellow {
  background-color: $color-yellow;
}

.u-fill--grey {
  background-color: $color-grey-light;
}

.u-fill--white {
  background-color: $color-white;
}

.u-color--white {
  color: $color-white !important;
}

.u-color--yellow {
  color: $color-yellow !important;
}

.u-color--grey {
  color: $color-grey !important;
}
