
.u-text-small {
  font-size: $font-size-small;
}

.u-text-medium {
  font-size: $font-size-medium;
}

.u-text-large {
  font-size: $font-size-large;
}

.u-text-xlarge {
  font-size: $font-size-xlarge;
}
