
.u-text-small {
  font-size: 1.5rem;
}

.u-text-medium {
  font-size: $font-size-body-medium;
}

.u-text-weight-regular {
  font-weight: 400;
}

.u-text-large {
  font-size: $font-size-body-large;

  @include mq($until: tablet) {
    font-size: 1.3rem;
  }
}

.u-text-xlarge {
  font-size: $font-size-heading-large;
}
