
/**
 * UTILITIES > FILLS
 */

.u-fill--primary {
  background-color: $color-primary !important;
}

.u-fill--yellow {
  background-color: $color-yellow !important;
}

.u-fill--light-grey {
  background-color: $color-white-off !important;
}

.u-fill--grey {
  background-color: $color-grey-light !important;
}

.u-fill--white {
  background-color: $color-white !important;
}

.u-color--white {
  color: $color-white !important;
}

.u-color--yellow {
  color: $color-yellow !important;
}

.u-color--grey {
  color: $color-grey !important;
}
