
.u-text-small {
  font-size: $font-size-small;
}

.u-text-medium {
  font-size: $font-size-medium;
}

.u-text-weight-regular {
  font-weight: 400;
}

.u-text-large {
  font-size: $font-size-large;

  @include mq($until: tablet) {
    font-size: 1.3rem;
  }
}

.u-text-xlarge {
  font-size: $font-size-xlarge;
}
