
/**
 * OBJECTS > SECTION
 */

.o-section {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;

  .o-section__border,
  .o-section__content {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }

  &.-spacing-none {
    .o-section__border,
    .o-section__content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.-spacing-mlarge {
    .o-section__border,
    .o-section__content {
      padding-top: $spacing-large * 1.5;
      padding-bottom: $spacing-large * 1.5;
    }
  }

  &.-spacing-xlarge {
    .o-section__border,
    .o-section__content {
      padding-top: $spacing-xlarge;
      padding-bottom: $spacing-xlarge;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $color-yellow;
    margin-bottom: $spacing-large;
  }
}

.o-section--yellow {
  .o-section__border {
    background-color: $color-grey-light;
  }

  .o-section__content {
    background-color: $color-yellow;
    color: $color-white;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $color-white;
    }
  }
}

.o-section--grey {
  .o-section__border {
    background-color: $color-yellow;
  }

  .o-section__content {
    background-color: $color-grey-light;
  }
}

.o-section--grey-light {
  .o-section__border {
    background-color: $color-white;
  }

  .o-section__content {
    background-color: $color-grey-light;
  }
}

.o-section__border {
  width: 24rem;
  padding-left: $spacing-large;
  padding-right: $spacing-large;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: $font-size-small;

  @include mq($until: tablet) {
    width: $spacing-medium;
    padding: 0;
  }

  &.-center {
    align-items: center;
  }
}

.o-section__border-inner {
  max-width: 100%;
  width: 17rem;
}

.o-section__content {
  flex: 1;
  padding-left: $spacing-mlarge * 2;
  padding-right: $spacing-mlarge;
  display: flex;
  align-items: center;

  @include mq($until: tablet) {
    width: calc(100% - #{$spacing-medium});
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
}

.o-section__content-inner {
  max-width: 100%;
  width: 80rem;

  &.-large {
    width: 100rem;
  }
}
