
a {
  &,
  &:link,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: $color-grey;
  }
}

.rte {
  a {
    position: relative;

    &,
    &:link,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      text-decoration: none;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      background: $color-grey;
      transition: all 0.3s ease-out;
    }

    &::after {
      transform-origin: left center;
      background: $color-yellow;
      transform: scaleX(0);
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}