
////
/// Global page styling.
/// @group elements
/// @author Charles Beaumont
////

html {
  background-color: $color-grey-light;
  color: $color-text;
  font-size: $font-size-root;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  font-family: $font-family-body;
  font-size: $font-size-body;
  line-height: $font-line-height-medium;
  font-weight: 400;
  min-height: 100%;

  @include mq($until: tablet) {
    font-size: 1.3rem;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-page {
  background: $color-background;
}
