
.c-newsletter {
  padding-top: $spacing-small !important;
  padding-bottom: $spacing-small !important;
  font-size: 2.5rem;
  font-weight: 500;

  @include mq($until: tablet) {
    font-size: 2rem;  
  }
}

.c-newsletter__input {
  background: none;
  border: none;
  border-bottom: 2px solid $color-white;
  color: $color-white;
  width: 29.6rem;
  font-weight: 500;
  font-size: 2.5rem;

  @include mq($until: tablet) {
    width: 23.5rem;
    font-size: 2rem;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: $color-white;
  }

  &::-moz-placeholder {
    color: $color-white;
  }

  &:-ms-input-placeholder {
    color: $color-white;
  }

  &:-moz-placeholder {
    color: $color-white;
  }
}
