
.c-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
}

.c-header__inner {
  padding: $spacing-large;
}

.c-header__breadcrumbs {
  display: flex;
  font-size: 1.5rem;
  color: $color-white;
  padding-top: 0.8rem;

  .page & {
    color: $color-grey;
  }
}

.c-header__breadcrumb {
  margin-right: $spacing-xlarge;
  text-transform: lowercase;

  &:last-child {
    margin-right: 0;
  }
}
