
.c-logo {
  position: fixed;
  top: $spacing-large + 3px;
  left: $spacing-large;
  z-index: 300;
  opacity: 0;

  @include mq($until: tablet) {
    display: none;
  }

  &,
  &:link,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }

  &.-white {
    path {
      fill: $color-white;
    }
  }

  width: 11.8rem;
  display: inline-block;
}
