
.c-hero {
  min-height: 100vh;
}

.rte-hero {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $color-yellow;
    margin-bottom: $spacing-large;
  }

  p {
    margin-bottom: $spacing-large;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
