
////
/// Footer component.
/// @group components
/// @author Charles Beaumont
////

.c-footer {
  width: 100%;
  font-size: $font-size-body-small;

  @include mq($from: tablet) {
    align-items: flex-end;
  }
}

.c-footer__content {
  @include mq($until: tablet) {
    margin-bottom: $spacing-medium;
  }

  p {
    margin-bottom: 0;
  }
}

.c-footer__copyright {
  margin-bottom: 0;
  font-weight: 400;

  @include mq($until: tablet) {
    margin-top: $spacing-medium;
  }

  @include mq($from: tablet) {
    text-align: right;
  }
}
