
.c-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;

  @include mq($until: tablet) {
    top: 2rem;
  }
}

.c-header__inner {
  padding: $spacing-large;
}

.c-header__breadcrumbs {
  display: flex;
  font-size: 1.5rem;
  color: $color-white;
  padding-top: 0.8rem;

  .page &,
  .single & {
    color: $color-grey;
  }
}

.c-header__breadcrumb {
  margin-right: $spacing-xlarge;
  text-transform: lowercase;

  @include mq($until: tablet) {
    margin-right: $spacing-large;
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    &,
    &:link,
    &:hover,
    &:visited,
    &:focus,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }
}
