
/**
 * SETTINGS > TYPOGRAPHY
 */

// Font families.
$font-family-body: 'graphik-webfont', Helvetica, Arial, sans-serif;

// Font sizes.
$font-size-small: 1.3rem;
$font-size-medium: 1.8rem;
$font-size-large: 1.8rem;
$font-size-xlarge: 2.5rem;
$font-size-huge: 4.0rem;

// Heading sizes.
$font-size-h1: $font-size-huge;
$font-size-h2: $font-size-xlarge;
$font-size-h3: $font-size-large;
$font-size-h4: $font-size-medium;
$font-size-h5: $font-size-small;
$font-size-h6: $font-size-small;

// Root font sizes.
$font-size-root: 10px;
$font-size-body: $font-size-large;

// Line heights.
$font-line-height-small: 1.2;
$font-line-height-medium: 1.4;
$font-line-height-large: 1.8;
