
/**
 * SETTINGS > COLORS
 */

// Palette
$color-white: #ffffff;
$color-black: #000000;

$color-grey: #a9a9a9;
$color-grey-light: #ededed;

$color-yellow: #f7cc3f;

// Brand colors
$color-primary: $color-white;
$color-secondary: $color-black;

$color-text: $color-grey;
$color-background: $color-white;
